h2 {
    margin-top: 10px;
}

.pseudoCard {
    color: #EBF2FA !important;
}

.btn {
    background-color: #427AA1;
    color: #EBF2FA !important;
    border: 2px solid #679436;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.8s ease;
}

.btn:hover {
    background-color: #EBF2FA;
    color: #427AA1 !important;
    border: 2px solid #679436;
    border-radius: 5px;
    font-weight: bold;
}

.lieuCard {
    font-size: 30px;
    text-decoration: underline;
    color: #EBF2FA !important;
}

.souligneCard {
    text-decoration: underline;
}


.bienvenue {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px;
    background-color: #427AA1;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #679436;
    border-radius: 5px;
}

form .btn {
    background-color: #427AA1;
    color: #EBF2FA !important;
    border: 2px solid #679436;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.8s ease;
}

form .btn:hover {
    background-color: #EBF2FA;
    color: #427AA1 !important;
    border: 2px solid #679436;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .card {
        max-width: 90%;
        margin: auto;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .card img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .text-warning {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card h6,
    .card p {
        font-size: 0.9rem;
        text-align: center;
    }

    .card-footer {
        font-size: 0.8rem;
    }
}


@media (min-width: 1024px) {
    .card {
        max-width: 100%;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
    }

    .card img {
        width: 80px;
        height: 80px;
    }

    .card h6,
    .card p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 100%;
        max-width: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .col-md-6 {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}