a {
    text-decoration: none;
    color: #EBF2FA !important;
}

.navbar-nav {
    float: right;
}

.navbar-brand {
    font-size: 35px !important;
}

.nav-link:hover {
    color: #679436 !important;
}