/* Global */

a {
    text-decoration: none;
    color: #EBF2FA !important;
}

.navbar-nav {
    float: right;
}

/* Title */

.navbar-brand {
    font-size: 35px !important;
}

/* link colour */

.nav-link:hover {
    color: #679436 !important;
}